JEV_API_KEY=
DECISION_PROVIDER=rules
SHOGI_PROVIDER=jev
WORLD_SEED=
RECORD_RUN=true
HOST=127.0.0.1
PORT=8787
SHOGI_PORT=8788
SHOGI_JEV_TIMEOUT_MS=8000
JEV_MAX_CONCURRENCY=2
JEV_MAX_QPS=4
JEV_BATCH_SIZE=8
JEV_TIMEOUT_MS=4000
REPLAY_PATH=
